<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Codius Pod Uploader</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <style>
    .box {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
	.note {
	white-space: pre-line;
	}
  </style>

  <!-- js -->
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <div class="hero is-fullheight is-info is-bold">
  <div class="hero-body">
  <div class="container">
    <h1 class="title has-text-centered">Codius Pod Upload Tool</h1>
    <div class="box">

      <!-- our returned data ===================== -->
      <form id="results-form">
		<div class="field">
			<h1>
				<b>Under Maintenance!</b>
			</h1>
			<p has-text-left>
			<pre>This tool is down for maintenance.
It should be back online shortly :)</pre>
			</p>
		</div>
		<div class="field has-text-centered">
		</div>
      </form>

    </div>
  </div>
  </div>
  </div>
</body>
</html>
